<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br>
            <br>
    <h3>Create a New Listing</h3>
    <form action="/listings" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="title mb-3">
            <label for="Title" class="form-label">Title</label>
            <input type="text" placeholder="Enter Title" name="listing[title]" required class="form-control">
            <div class="valid-feedback">Looks Good ! </div>
            <div class="invalid-feedback">Please Enter Title</div>
        </div>
        <div class="description mb-3">
            <label for="Description" class="form-label">Description</label>
            <textarea name="listing[description]" placeholder="Enter Description" required class="form-control"></textarea>
            <div class="valid-feedback">Looks Good ! </div>
            <div class="invalid-feedback">Please Write Description</div>
        </div>
        
        <div class="image mb-3">
            <label for="Image-URL" class="form-label">Upload Image</label>
            <input type="file" placeholder="Enter Image URL" name="listing[image]" required class="form-control">   
        </div>
        <div class="price mb-3">
            <label for="Price" class="form-label">Price</label>
            <input type="number" placeholder="Enter Price" name="listing[price]" required class="form-control">
            <div class="valid-feedback">Looks Good ! </div>
            <div class="invalid-feedback">Please Enter Price</div>
        </div>
        <div class="row">
            <div class="country mb-3 col-md-4">
                <label for="Country" class="form-label">Country</label>
                <input type="text" placeholder="Enter Country" name="listing[country]" required class="form-control">
                <div class="valid-feedback">Looks Good ! </div>
                <div class="invalid-feedback">Please Enter Country</div>
            </div>
            <div class="location mb-3 col-md-8">
                <label for="Location" class="form-label">Location</label>
                <input type="text" placeholder="Enter Location" name="listing[location]" required class="form-control">
                <div class="valid-feedback">Looks Good ! </div>
                <div class="invalid-feedback">Please Enter Location</div>
            </div>
        </div>
        <button class="btn btn-dark">Add</button>
    </form>
</div>
    </div>
</body>
