<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <div class="col-6 offset-3">
        <h2>Signup For Wanderlust</h2>
        <form action="/signup" method="post" class="needs-validation" novalidate>

            <label for="username" class="form-label mt-3">Username</label>
            <input type="text" name="username" id="username" required class="form-control" placeholder="Enter Username">
            <div class="valid-feedback">Username Looks Good ! </div>
            <label for="email" class="form-label mt-3" >Email</label>
            <input type="email" name="email" id="email" required placeholder="Enter Email" class="form-control">
            <div class="valid-feedback">EmailId Looks Good ! </div>
            <label for="password" class="form-label mt-3">Password</label>
            <input type="password" name="password" id="password" required placeholder="Enter Password" class="form-control">
            <div class="valid-feedback">Password Looks Good ! </div>
            <button class="btn btn-success mt-3">Signup</button>
        </form>
    </div>
</div>